<!-- Main container for the about section -->
<div class="about-section">
   <!-- Title of the about section -->
    <h1>About Us Page</h1>
    <!-- About section  description -->
    <p>Welcome to Level Up Muscle, your go-to destination for simplified fitness and nutrition information. 
    At Level Up Muscle, we're passionate about helping you achieve your health and wellness goals, without all the hassle. 
    Our mission is to provide you with accessible, streamlined, and easy-to-understand resources, so you can embark on your 
    fitness journey with confidence. The fitness and nutrition world can be a complex and confusing place. With countless workouts,
    diets, and fads, it's no wonder many people struggle to find a straightforward path to a healthier lifestyle. That's where we come in. 
    We understand that everyone's fitness and nutrition needs are unique, which is why we're committed to demystifying the process and guiding 
    you toward the right choices for your individual goals.</p>
  </div>

  <!-- Title of the team section -->
  <h2 class="team" style="text-align:center">Our Team</h2>
  <!-- Main container for the team section -->
  <div class="row">
    <!-- Container for the CEO's information -->
    <div class="column">
      <div class="card">
        <img src="assets/about-assets/CEO.jpg" alt="CEO" style="width:100%">
        <div class="container">
          <h2>Sarah Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>This is a mock portfolio project this company and it's staff are not real</p>
          <p>sarah@example.com</p>
        </div>
      </div>
    </div>

    <!-- Container for the Director of Athletics' information -->
    <div class="column">
      <div class="card">
        <img src="assets/about-assets/bodybuilder.jpg" alt="bodybuilder" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Director of Athletics</p>
          <p>This is a mock portfolio project this company and it's staff are not real</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>

    <!-- Container for the Director of Nutrition's information -->
    <div class="column">
      <div class="card">
        <img src="assets/about-assets/nutritionist.jpg" alt="nutritionist" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Director of Nutrition</p>
          <p>This is a mock portfolio project this company and it's staff are not real</p>
          <p>jane@example.com</p>
        </div>
      </div>
    </div>
  </div>
