<nav class="navbar sticky-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="assets/title-assests/Logo.jpg" alt="logo" style="width: 75px; height: 75px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout Plans</a>
              <li class="nav-item">
                <li class="nav-item">
                </li>
        </ul>
      </div>
    </div>
  </nav>