<h1 class="title">Ready To Take Your Fitness Journey To The Next Level? 
  View Our Comprehensive Workout and Nutrition Plans Below! Save Money By Bundling Workout And Nutrition Plans Together To Get 20% Off!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mass Gainer Workout plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Mass Gainer Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Mass Gainer Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>Weight Loss Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Weight Loss Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Weight Loss Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
  </tbody>
</table>
