<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mass Gainer Workout plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Mass Gainer Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Mass Gainer Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Lean Muscle Builder Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>Weight Loss Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>Weight Loss Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>Weight Loss Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Workout Plan</td>
      <td>$119.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Nutrition Plan</td>
      <td>$79.99</td>
    </tr>
    <tr>
      <td>At Home Body weight Workout + Nutrition Plan</td>
      <td>$159.99</td>
    </tr>
  </tbody>
</table>
