.workout-card-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10vh;
}

.skills-card {
    display: flex;
    text-align: center;
    width: 35vh;
    min-width: 400px; 
    max-width: 500px; 
    min-height: 500px; 
    max-height: 800px; 
    flex-direction: column;
    box-shadow: 0px 0px 10px #000000;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx8bqHtsK77Usggu5Tztby4QFCVBI89q0W-Q&usqp=CAU);
    background-size: cover;
    color: white;
}

.card-title {
   padding-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    font-size: 25px;
}