.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal {
    display: flex;
    flex-direction: column;
    width: 290px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.WorkoutNameLabel {
    padding-top: 15px;
}

.muscleGroupLabel {
    padding-top: 15px;
}

.workoutGoalLabel {
    padding-top: 15px;
}

.cardioLabel {
    padding-top: 15px;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.btn {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 25px;
    margin-right: 10px;
}

.btn:hover,
.btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
    cursor: pointer;
}

.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
    margin-left: 10px;
    border-radius: 10px;
}

.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
    cursor: pointer;
}